In [1]:
import pandas as pd

In [2]:
nationaldex = pd.read_csv("data/pokemondb.csv")
nationaldex

,Number,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed
0,1,Bulbasaur,NaN,Grass,Poison,45,49,49,65,65,45
1,2,Ivysaur,NaN,Grass,Poison,60,62,63,80,80,60
2,3,Venusaur,NaN,Grass,Poison,80,82,83,100,100,80
3,3,Venusaur,Mega Venusaur,Grass,Poison,80,100,123,122,120,80
4,4,Charmander,NaN,Fire,NaN,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...
1210,1023,Iron Crown,NaN,Steel,Psychic,90,72,100,122,108,98
1211,1024,Terapagos,Normal Form,Normal,NaN,90,65,85,65,85,60
1212,1024,Terapagos,Terastal Form,Normal,NaN,95,95,110,105,110,85
1213,1024,Terapagos,Stellar Form,Normal,NaN,160,105,110,130,110,85
1214,1025,Pecharunt,NaN,Poison,Ghost,88,88,160,88,88,88

In [3]:
nationaldex['bst'] = nationaldex['HP'] + nationaldex['Attack'] + nationaldex['Defense'] + nationaldex['Sp.Attack'] + nationaldex['Sp.Defense'] + nationaldex['Speed']
nationaldex["Type 2"] = nationaldex["Type 2"].fillna(nationaldex["Type 1"])
nationaldex["Form"] = nationaldex["Form"].fillna("Base")
# nationaldex = nationaldex.drop(["Number"],axis=1)
nationaldex

,Number,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed,bst
0,1,Bulbasaur,Base,Grass,Poison,45,49,49,65,65,45,318
1,2,Ivysaur,Base,Grass,Poison,60,62,63,80,80,60,405
2,3,Venusaur,Base,Grass,Poison,80,82,83,100,100,80,525
3,3,Venusaur,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,625
4,4,Charmander,Base,Fire,Fire,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...
1210,1023,Iron Crown,Base,Steel,Psychic,90,72,100,122,108,98,590
1211,1024,Terapagos,Normal Form,Normal,Normal,90,65,85,65,85,60,450
1212,1024,Terapagos,Terastal Form,Normal,Normal,95,95,110,105,110,85,600
1213,1024,Terapagos,Stellar Form,Normal,Normal,160,105,110,130,110,85,700
1214,1025,Pecharunt,Base,Poison,Ghost,88,88,160,88,88,88,600

In [4]:
# Removendo todos as mega evoluções e variações regionais
nationaldex = nationaldex[~nationaldex.apply(lambda row: row['Name'] in row['Form'],axis=1)]
nationaldex

,Number,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed,bst
0,1,Bulbasaur,Base,Grass,Poison,45,49,49,65,65,45,318
1,2,Ivysaur,Base,Grass,Poison,60,62,63,80,80,60,405
2,3,Venusaur,Base,Grass,Poison,80,82,83,100,100,80,525
4,4,Charmander,Base,Fire,Fire,39,52,43,60,50,65,309
5,5,Charmeleon,Base,Fire,Fire,58,64,58,80,65,80,405
...,...,...,...,...,...,...,...,...,...,...,...,...
1210,1023,Iron Crown,Base,Steel,Psychic,90,72,100,122,108,98,590
1211,1024,Terapagos,Normal Form,Normal,Normal,90,65,85,65,85,60,450
1212,1024,Terapagos,Terastal Form,Normal,Normal,95,95,110,105,110,85,600
1213,1024,Terapagos,Stellar Form,Normal,Normal,160,105,110,130,110,85,700
1214,1025,Pecharunt,Base,Poison,Ghost,88,88,160,88,88,88,600

In [5]:
nationaldex[nationaldex.Name == "Necrozma"]

,Number,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed,bst
958,800,Necrozma,Base,Psychic,Psychic,97,107,101,127,89,79,600

In [6]:
nationaldex[nationaldex.Name == "Meloetta"]

,Number,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed,bst
780,648,Meloetta,Aria Forme,Normal,Psychic,100,77,77,128,128,90,600
781,648,Meloetta,Pirouette Forme,Normal,Fighting,100,128,90,77,77,128,600

#### Preparing Infinite Fusion Wiki

Has the correct typing and name format

In [7]:
ifwiki = pd.read_csv("data/infinitefusionwiki.csv")
ifwiki

     DexId        Name  Form Type 1  Type 2
0        1   Bulbasaur  Base  Grass  Poison
1        2     Ivysaur  Base  Grass  Poison
2        3    Venusaur  Base  Grass  Poison
3        4  Charmander  Base   Fire    Fire
4        5  Charmeleon  Base   Fire    Fire
..     ...         ...   ...    ...     ...
495    496         ???  Base    ???     ???
496    497         ???  Base    ???     ???
497    498         ???  Base    ???     ???
498    499         ???  Base    ???     ???
499    500         ???  Base    ???     ???

[500 rows x 5 columns]

In [8]:
ifwiki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DexId   500 non-null    int64
 1   Name    500 non-null    object
 2   Form    500 non-null    object
 3   Type 1  500 non-null    object
 4   Type 2  500 non-null    object
dtypes: int64(1), object(4)
memory usage: 19.7+ KB

In [9]:
ifwiki[ifwiki.Name == "Meloetta"]

     DexId      Name            Form  Type 1    Type 2
465    466  Meloetta       Aria Form  Normal   Psychic
466    467  Meloetta  Pirouette Form  Normal  Fighting

#### Preparing pokedex_8gen (Kaggle)

Has all abilites

In [10]:
pokedex8gn = pd.read_csv("data/pokedex_8gen(Update_04.21).csv")
pokedex8gn

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040,1040,896,Glastrier,Polaross,ブリザポス (Burizaposu),8,Sub Legendary,Wild Horse Pokémon,1,Ice,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
1041,1041,897,Spectrier,Phantoross,レイスポス (Reisuposu),8,Sub Legendary,Swift Horse Pokémon,1,Ghost,...,1.0,1.0,1.0,0.5,1.0,2.0,1.0,2.0,1.0,1.0
1042,1042,898,Calyrex,Coronospa,バドレックス (Budrex),8,Legendary,King Pokémon,2,Psychic,...,0.5,2.0,0.5,4.0,1.0,2.0,1.0,2.0,1.0,1.0
1043,1043,898,Calyrex Ice Rider,Coronospa,バドレックス (Budrex),8,Legendary,High King Pokémon,2,Psychic,...,1.0,1.0,0.5,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1044,1044,898,Calyrex Shadow Rider,Coronospa,バドレックス (Budrex),8,Legendary,High King Pokémon,2,Psychic,...,1.0,1.0,0.5,1.0,1.0,4.0,1.0,4.0,1.0,1.0

In [11]:
pokedex8gn = pokedex8gn[["pokedex_number","ability_1","ability_2","ability_hidden"]]
pokedex8gn = pokedex8gn.rename(columns={"pokedex_number":"Number"})
pokedex8gn

      Number       ability_1 ability_2 ability_hidden
0          1        Overgrow       NaN    Chlorophyll
1          2        Overgrow       NaN    Chlorophyll
2          3        Overgrow       NaN    Chlorophyll
3          3       Thick Fat       NaN            NaN
4          4           Blaze       NaN    Solar Power
...      ...             ...       ...            ...
1040     896  Chilling Neigh       NaN            NaN
1041     897      Grim Neigh       NaN            NaN
1042     898         Unnerve       NaN            NaN
1043     898          As One       NaN            NaN
1044     898          As One       NaN            NaN

[1045 rows x 4 columns]

### Merging all sources

Getting the abilities from pokedex8gn into nationaldex

In [12]:
natdex = pd.merge(nationaldex, pokedex8gn,'left','Number')
natdex

,Number,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed,bst,ability_1,ability_2,ability_hidden
0,1,Bulbasaur,Base,Grass,Poison,45,49,49,65,65,45,318,Overgrow,NaN,Chlorophyll
1,2,Ivysaur,Base,Grass,Poison,60,62,63,80,80,60,405,Overgrow,NaN,Chlorophyll
2,3,Venusaur,Base,Grass,Poison,80,82,83,100,100,80,525,Overgrow,NaN,Chlorophyll
3,3,Venusaur,Base,Grass,Poison,80,82,83,100,100,80,525,Thick Fat,NaN,NaN
4,4,Charmander,Base,Fire,Fire,39,52,43,60,50,65,309,Blaze,NaN,Solar Power
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1328,1023,Iron Crown,Base,Steel,Psychic,90,72,100,122,108,98,590,NaN,NaN,NaN
1329,1024,Terapagos,Normal Form,Normal,Normal,90,65,85,65,85,60,450,NaN,NaN,NaN
1330,1024,Terapagos,Terastal Form,Normal,Normal,95,95,110,105,110,85,600,NaN,NaN,NaN
1331,1024,Terapagos,Stellar Form,Normal,Normal,160,105,110,130,110,85,700,NaN,NaN,NaN
1332,1025,Pecharunt,Base,Poison,Ghost,88,88,160,88,88,88,600,NaN,NaN,NaN

In [13]:
natdex[natdex.Name == "Necrozma"]

,Number,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed,bst,ability_1,ability_2,ability_hidden
1054,800,Necrozma,Base,Psychic,Psychic,97,107,101,127,89,79,600,Prism Armor,NaN,NaN
1055,800,Necrozma,Base,Psychic,Psychic,97,107,101,127,89,79,600,Prism Armor,NaN,NaN
1056,800,Necrozma,Base,Psychic,Psychic,97,107,101,127,89,79,600,Prism Armor,NaN,NaN
1057,800,Necrozma,Base,Psychic,Psychic,97,107,101,127,89,79,600,Neuroforce,NaN,NaN

In [14]:
natdex.drop_duplicates(['Name','Form'],inplace=True)
natdex.shape

(1096, 15)

In [15]:
natdex.drop(columns=['Number','Form','Type 1','Type 2'],inplace=True)
natdex.shape

(1096, 11)

Merging completedex into ifwiki, since it has the correct Infinite Fusion pokedex and each Pokémon typing in game

In [16]:
ifdex = pd.merge(ifwiki,natdex,'left','Name')
print(ifwiki.shape,ifdex.shape)
ifdex.info()

(500, 5) (528, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DexId           528 non-null    int64
 1   Name            528 non-null    object
 2   Form            528 non-null    object
 3   Type 1          528 non-null    object
 4   Type 2          528 non-null    object
 5   HP              515 non-null    float64
 6   Attack          515 non-null    float64
 7   Defense         515 non-null    float64
 8   Sp.Attack       515 non-null    float64
 9   Sp.Defense      515 non-null    float64
 10  Speed           515 non-null    float64
 11  bst             515 non-null    float64
 12  ability_1       515 non-null    object
 13  ability_2       272 non-null    object
 14  ability_hidden  442 non-null    object
dtypes: float64(7), int64(1), object(7)
memory usage: 62.0+ KB

In [17]:
ifdex[ifdex.Form != "Base"]

,DexId,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed,bst,ability_1,ability_2,ability_hidden
439,430,Oricorio,Baile Style,Fire,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
440,430,Oricorio,Baile Style,Fire,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
441,430,Oricorio,Baile Style,Fire,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
442,430,Oricorio,Baile Style,Fire,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
443,431,Oricorio,Pom-Pom Style,Electric,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
444,431,Oricorio,Pom-Pom Style,Electric,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
445,431,Oricorio,Pom-Pom Style,Electric,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
446,431,Oricorio,Pom-Pom Style,Electric,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
447,432,Oricorio,Pa'u Style,Psychic,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
448,432,Oricorio,Pa'u Style,Psychic,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
449,432,Oricorio,Pa'u Style,Psychic,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
450,432,Oricorio,Pa'u Style,Psychic,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
451,433,Oricorio,Sensu Style,Ghost,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
452,433,Oricorio,Sensu Style,Ghost,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
453,433,Oricorio,Sensu Style,Ghost,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
454,433,Oricorio,Sensu Style,Ghost,Flying,75.0,70.0,70.0,98.0,70.0,93.0,476.0,Dancer,NaN,NaN
485,464,Lycanroc,Midday Form,Rock,Rock,75.0,115.0,65.0,55.0,65.0,112.0,487.0,Keen Eye,Sand Rush,Steadfast
486,464,Lycanroc,Midday Form,Rock,Rock,85.0,115.0,75.0,55.0,75.0,82.0,487.0,Keen Eye,Sand Rush,Steadfast
487,464,Lycanroc,Midday Form,Rock,Rock,75.0,117.0,65.0,55.0,65.0,110.0,487.0,Keen Eye,Sand Rush,Steadfast
488,465,Lycanroc,Midnight Form,Rock,Rock,75.0,115.0,65.0,55.0,65.0,112.0,487.0,Keen Eye,Sand Rush,Steadfast
489,465,Lycanroc,Midnight Form,Rock,Rock,85.0,115.0,75.0,55.0,75.0,82.0,487.0,Keen Eye,Sand Rush,Steadfast
490,465,Lycanroc,Midnight Form,Rock,Rock,75.0,117.0,65.0,55.0,65.0,110.0,487.0,Keen Eye,Sand Rush,Steadfast
491,466,Meloetta,Aria Form,Normal,Psychic,100.0,77.0,77.0,128.0,128.0,90.0,600.0,Serene Grace,NaN,NaN
492,466,Meloetta,Aria Form,Normal,Psychic,100.0,128.0,90.0,77.0,77.0,128.0,600.0,Serene Grace,NaN,NaN
493,467,Meloetta,Pirouette Form,Normal,Fighting,100.0,77.0,77.0,128.0,128.0,90.0,600.0,Serene Grace,NaN,NaN
494,467,Meloetta,Pirouette Form,Normal,Fighting,100.0,128.0,90.0,77.0,77.0,128.0,600.0,Serene Grace,NaN,NaN
497,470,Necrozma,Ultra,Psychic,Dragon,97.0,107.0,101.0,127.0,89.0,79.0,600.0,Prism Armor,NaN,NaN

In [18]:
forms_index = ifdex[ifdex.Form != "Base"].index
index_stay = [439,443,447,451,485,489,491,494,497] # Indexes from Pkm with different forms, hand picked based on its stats
len(forms_index)

27

In [19]:
index_drop = [x for x in forms_index if x not in index_stay]
len(index_drop)

18

In [20]:
ifdex.drop(index=index_drop,inplace=True)
ifdex.shape

(510, 15)

In [21]:
df_nunique = ifdex[ifdex['DexId'].duplicated(keep=False)]
df_nunique

,DexId,Name,Form,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed,bst,ability_1,ability_2,ability_hidden
127,128,Tauros,Base,Normal,Normal,75.0,100.0,95.0,40.0,70.0,110.0,490.0,Intimidate,Anger Point,Sheer Force
128,128,Tauros,Base,Normal,Normal,75.0,110.0,105.0,30.0,70.0,100.0,490.0,Intimidate,Anger Point,Sheer Force
129,128,Tauros,Base,Normal,Normal,75.0,110.0,105.0,30.0,70.0,100.0,490.0,Intimidate,Anger Point,Sheer Force
130,128,Tauros,Base,Normal,Normal,75.0,110.0,105.0,30.0,70.0,100.0,490.0,Intimidate,Anger Point,Sheer Force
331,329,Aegislash,Base,Steel,Ghost,60.0,50.0,140.0,50.0,140.0,60.0,500.0,Stance Change,NaN,NaN
332,329,Aegislash,Base,Steel,Ghost,60.0,140.0,50.0,140.0,50.0,60.0,500.0,Stance Change,NaN,NaN
346,343,Dialga,Base,Steel,Dragon,100.0,120.0,120.0,150.0,100.0,90.0,680.0,Pressure,NaN,Telepathy
347,343,Dialga,Base,Steel,Dragon,100.0,100.0,120.0,150.0,120.0,90.0,680.0,Pressure,NaN,Telepathy
348,344,Palkia,Base,Water,Dragon,90.0,120.0,100.0,150.0,120.0,100.0,680.0,Pressure,NaN,Telepathy
349,344,Palkia,Base,Water,Dragon,90.0,100.0,100.0,150.0,120.0,120.0,680.0,Pressure,NaN,Telepathy
350,345,Giratina,Base,Ghost,Dragon,150.0,100.0,120.0,100.0,120.0,90.0,680.0,Pressure,NaN,Telepathy
351,345,Giratina,Base,Ghost,Dragon,150.0,120.0,100.0,120.0,100.0,90.0,680.0,Pressure,NaN,Telepathy
386,380,Deoxys,Base,Psychic,Psychic,50.0,150.0,50.0,150.0,50.0,150.0,600.0,Pressure,NaN,NaN
387,380,Deoxys,Base,Psychic,Psychic,50.0,180.0,20.0,180.0,20.0,150.0,600.0,Pressure,NaN,NaN
388,380,Deoxys,Base,Psychic,Psychic,50.0,70.0,160.0,70.0,160.0,90.0,600.0,Pressure,NaN,NaN
389,380,Deoxys,Base,Psychic,Psychic,50.0,95.0,90.0,95.0,90.0,180.0,600.0,Pressure,NaN,NaN

In [22]:
ifdex.drop_duplicates('DexId',keep='first',inplace=True)
ifdex.shape

(500, 15)

In [23]:
completedex = ifdex
completedex = completedex.rename(columns={"Type 1":"Type_1","Type 2":"Type_2","Sp.Attack":"Sp_Attack","Sp.Defense":"Sp_Defense"})
completedex.columns = map(str.lower, completedex.columns)

# completedex["bst"] = completedex['hp'] + completedex['attack'] + completedex['defense'] + completedex['sp_attack'] + completedex['sp_defense'] + completedex['speed']
completedex

,dexid,name,form,type_1,type_2,hp,attack,defense,sp_attack,sp_defense,speed,bst,ability_1,ability_2,ability_hidden
0,1,Bulbasaur,Base,Grass,Poison,45.0,49.0,49.0,65.0,65.0,45.0,318.0,Overgrow,NaN,Chlorophyll
1,2,Ivysaur,Base,Grass,Poison,60.0,62.0,63.0,80.0,80.0,60.0,405.0,Overgrow,NaN,Chlorophyll
2,3,Venusaur,Base,Grass,Poison,80.0,82.0,83.0,100.0,100.0,80.0,525.0,Overgrow,NaN,Chlorophyll
3,4,Charmander,Base,Fire,Fire,39.0,52.0,43.0,60.0,50.0,65.0,309.0,Blaze,NaN,Solar Power
4,5,Charmeleon,Base,Fire,Fire,58.0,64.0,58.0,80.0,65.0,80.0,405.0,Blaze,NaN,Solar Power
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,496,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,497,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,498,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,499,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,500,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
target_species = ['magnemite','magneton','dewgong','omanyte','omastar','scizor','magnezone','empoleon','spiritomb','ferrothorn','celebi','trevenant','sandygast','palossand']
def swap_types(row):
    if row["name"] in target_species:
        row["type_1"], row["type_2"] = row["type_2"], row["type_1"]
    return row

In [25]:
completedex = completedex.apply(lambda row:swap_types(row),axis=1)
completedex

,dexid,name,form,type_1,type_2,hp,attack,defense,sp_attack,sp_defense,speed,bst,ability_1,ability_2,ability_hidden
0,1,Bulbasaur,Base,Grass,Poison,45.0,49.0,49.0,65.0,65.0,45.0,318.0,Overgrow,NaN,Chlorophyll
1,2,Ivysaur,Base,Grass,Poison,60.0,62.0,63.0,80.0,80.0,60.0,405.0,Overgrow,NaN,Chlorophyll
2,3,Venusaur,Base,Grass,Poison,80.0,82.0,83.0,100.0,100.0,80.0,525.0,Overgrow,NaN,Chlorophyll
3,4,Charmander,Base,Fire,Fire,39.0,52.0,43.0,60.0,50.0,65.0,309.0,Blaze,NaN,Solar Power
4,5,Charmeleon,Base,Fire,Fire,58.0,64.0,58.0,80.0,65.0,80.0,405.0,Blaze,NaN,Solar Power
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,496,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,497,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,498,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,499,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,500,???,Base,???,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# completedex = pd.merge(completedex,pokedex8gn,how="left",on="number")
# completedex = completedex.drop_duplicates(subset=["name","form"])
# completedex = completedex.rename(columns={"number":"natdexid"})
# completedex

In [27]:
completedex[completedex.select_dtypes(include='object').columns] = completedex.select_dtypes(include='object').apply(lambda x: x.str.lower())
print(completedex.shape)

(500, 15)

In [28]:
completedex = completedex[completedex.dexid < 471] # In wiki but not added in game yet
completedex

,dexid,name,form,type_1,type_2,hp,attack,defense,sp_attack,sp_defense,speed,bst,ability_1,ability_2,ability_hidden
0,1,bulbasaur,base,grass,poison,45.0,49.0,49.0,65.0,65.0,45.0,318.0,overgrow,NaN,chlorophyll
1,2,ivysaur,base,grass,poison,60.0,62.0,63.0,80.0,80.0,60.0,405.0,overgrow,NaN,chlorophyll
2,3,venusaur,base,grass,poison,80.0,82.0,83.0,100.0,100.0,80.0,525.0,overgrow,NaN,chlorophyll
3,4,charmander,base,fire,fire,39.0,52.0,43.0,60.0,50.0,65.0,309.0,blaze,NaN,solar power
4,5,charmeleon,base,fire,fire,58.0,64.0,58.0,80.0,65.0,80.0,405.0,blaze,NaN,solar power
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,466,meloetta,aria form,normal,psychic,100.0,77.0,77.0,128.0,128.0,90.0,600.0,serene grace,NaN,NaN
494,467,meloetta,pirouette form,normal,fighting,100.0,128.0,90.0,77.0,77.0,128.0,600.0,serene grace,NaN,NaN
495,468,cresselia,base,psychic,psychic,120.0,70.0,110.0,75.0,120.0,85.0,580.0,levitate,NaN,NaN
496,469,bruxish,base,water,psychic,68.0,105.0,70.0,70.0,70.0,92.0,475.0,dazzling,strong jaw,wonder skin
497,470,necrozma,ultra,psychic,dragon,97.0,107.0,101.0,127.0,89.0,79.0,600.0,prism armor,NaN,NaN

In [29]:
# During all of this, Ultra Necrozma didn't get its orignal stats because of the drop in nationaldex
completedex.loc[497,['hp','attack','defense','sp_attack','sp_defense','speed','bst']] = [97,167,97,167,97,129,754]
completedex

,dexid,name,form,type_1,type_2,hp,attack,defense,sp_attack,sp_defense,speed,bst,ability_1,ability_2,ability_hidden
0,1,bulbasaur,base,grass,poison,45.0,49.0,49.0,65.0,65.0,45.0,318.0,overgrow,NaN,chlorophyll
1,2,ivysaur,base,grass,poison,60.0,62.0,63.0,80.0,80.0,60.0,405.0,overgrow,NaN,chlorophyll
2,3,venusaur,base,grass,poison,80.0,82.0,83.0,100.0,100.0,80.0,525.0,overgrow,NaN,chlorophyll
3,4,charmander,base,fire,fire,39.0,52.0,43.0,60.0,50.0,65.0,309.0,blaze,NaN,solar power
4,5,charmeleon,base,fire,fire,58.0,64.0,58.0,80.0,65.0,80.0,405.0,blaze,NaN,solar power
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,466,meloetta,aria form,normal,psychic,100.0,77.0,77.0,128.0,128.0,90.0,600.0,serene grace,NaN,NaN
494,467,meloetta,pirouette form,normal,fighting,100.0,128.0,90.0,77.0,77.0,128.0,600.0,serene grace,NaN,NaN
495,468,cresselia,base,psychic,psychic,120.0,70.0,110.0,75.0,120.0,85.0,580.0,levitate,NaN,NaN
496,469,bruxish,base,water,psychic,68.0,105.0,70.0,70.0,70.0,92.0,475.0,dazzling,strong jaw,wonder skin
497,470,necrozma,ultra,psychic,dragon,97.0,167.0,97.0,167.0,97.0,129.0,754.0,prism armor,NaN,NaN

In [30]:
completedex.to_csv("data/CompleteInfiniteFusionDex_v6.2.3.csv", index=False)